*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    background: @white;
}
a{
    text-decoration: none;
    color: @white;
}
.slick-slide:active{
 outline: none;   
}
.slick-slide:focus{
 outline: none;   
}
.registration-title,
.second-form__title,
.second-left__title,
.third-left__title,
 h1{
     .md-block({
         font-size: 25px !important;
         text-align: center;
     });
     .sm-block({
         font-size: 20px !important;
         text-align: center;
     });
 }
#top {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 20px;
    cursor: pointer;
    z-index: 10;
        img {
            font-size: 35px;
            padding: 15px;
            border-radius: 5px;
            color: rgb(83, 83, 83);
            opacity: 0.5;
            width: 70px;
            height: 70px;
            background: none;
 
        }
    
        img:hover {
            opacity: 1;
            filter: contrast(80%) brightness(70%);
            border-radius: 5px;
        }
}
#call{
    position: fixed;
    right: 120px;
    bottom: 5%;
    cursor: pointer;
    z-index: 11;
    @keyframes phone-rotate{
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(15deg);
        }
    }
    @keyframes btn-phone-circle{
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.3);
        }
    }
    @keyframes btn-phone-circle2 {
        0% {
            opacity: 0.2;
            transform: scale(1.2);
        }
        30% {
            opacity: 1;
            transform: scale(1.4);
        }
        100% {
            opacity: 0.2;
            transform: scale(1.7);
        }
    }
    .wrap{
        display: flex; 
        justify-content: center;
        margin-top: 50px;
    }
    .btn-phone-wrap{
        position: relative;
    }
    .btn-phone{
        background: orange url('../img/phone.png') center center no-repeat;
        height: 60px;
        width: 60px;
        border-radius: 50px;
        animation: phone-rotate 1s infinite alternate linear;
        
    }

    .btn-phone-circle{
        height: 60px;
        width: 60px;
        border: 8px solid orangered;
        opacity: 0.4;
        border-radius: 60px;
        animation: btn-phone-circle 1.4s infinite alternate linear;
    }
    .btn-phone-circle2{
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0;
        border: 1px solid rgb(219, 65, 65);
        border-radius: 60px;
        animation: btn-phone-circle2 3s infinite ease-out;
    }
}
.active{
    display: block !important;
}


@import './params/mix.less';
@import './params/var.less';
@import './header.less';
@import './first.less';
@import './second.less';
@import './third.less';
@import './footer.less';
@import './form.less';


//-----шрифты-----//
// @import '../fonts/ProximaNova/stylesheet.css';
@import '../fonts/Ubuntu/stylesheet.css';
